.divState{
    font-family:Helvetica;
    font-size:20px;
    padding:3px;
}

table.eventsTable{
    border:none;
}

table.eventsTable th{

}

table.eventsTable tr{
    border:2px solid #fff;
}

table.eventsTable td{
    border:2px solid #fff;
}
