.labelState {
    font-family:Helvetica;
    font-size:24px;
    line-height:24px;
    padding:4px;
}

.columnLabelCentered {
    text-align: center;
}

.tabState {
    font-weight:bold;
    text-align:center;
}

table.eventsTable{
    border:none;
}

table.eventsTable th{

}

table.eventsTable tr{
    border:2px solid #fff;
}

table.eventsTable td{
    border:2px solid #fff;
}
