/*Global*/

/*grey*/
.bgcolor_globalStateU{
	background-color:#b6b6b6;
}
.color_globalStateU{
	background-color:#b6b6b6;
}

/*yellow*/
.bgcolor_globalState0{
	background-color:#f3ca4d;
}
.color_globalState0{
	background-color:#f3ca4d;
}

/*light-green*/
.bgcolor_globalState1{
	background-color:#7ea767;
}
.color_globalState1{
	background-color:#7ea767;
}

/*green*/
.bgcolor_globalState2{
	background-color:#65a721;
}
.color_globalState2{
	background-color:#65a721;
}



/*orange*/
.bgcolor_globalState3{
	background-color:#f19728;
}
.color_globalState3{
	background-color:#f19728;
}

/*orange-red*/
.bgcolor_globalState4{
	background-color:#f16528;
}
.color_globalState4{
	background-color:#f16528;
}

/*red*/
.bgcolor_globalState5{
	background-color:#f13428;
}
.color_globalState5{
	background-color:#f13428;
}

/*sensor*/

/*unknown - grey*/
.bgcolor_sensorStateU{
	background-color:#b6b6b6;
}
.color_sensorStateU{
	background-color:#b6b6b6;
}
/*open - red*/
.bgcolor_sensorState1{
	background-color:#f13428;
}
.color_sensorState1{
	background-color:#f13428;
}
/*closed - green*/
.bgcolor_sensorState0{
	background-color:#65a721;
}
.color_sensorState0{
	background-color:#65a721;
}
