{% extends "templateAAlarm.html" %}

{% block title %}aAlarm - Config{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
<script type="text/javascript">
</script>
{% endblock %}

{% block mainContentTitle %}Config{% endblock %}

{% block mainContent %}

<form method="post">
    {% csrf_token %}
    {{ parameterFormSet.management_form }}
    {% for form in parameterFormSet %}
        <div>
        {{ form.instance.key }}
        {{ form }}
        </div>
    {% endfor %}
    <input type="submit" />
</form>

{% endblock %}
