{% extends "templateAAlarm.html" %}

{% block title %}aAlarm - Home{% endblock %}

{% block css %}
{% endblock %}

{% block script %}
<script type="text/javascript">

    $(document).ready(function(){
        $(".aalarmStateBtn").click(function(data){
            var idButton = $(this).attr('id');
            $.ajax({
                data: $("#idFormCommand").serialize(),
                type: "post",
                url: "command/" + idButton,
                success: function(data) {
                    if(data == "ko")
                    {
                        alert("State cannot be change now");
                    }
                }
            });
            return false;
        });

	});
</script>
{% endblock %}

{% block mainContentTitle %}Home{% endblock %}

{% block mainContent %}

<form name="formCommand" id="idFormCommand">
    {% csrf_token %}
</form>

<div>
    <a id="setOnline" class="aalarmStateBtn btn btn-success" href="">Set Online</a>
    <a id="setOffline" class="aalarmStateBtn btn btn-danger" href="">Set Offline</a>
</div>

<h2>Events</h2>
<table>
<th>
    <td></td>
    <td></td>
    <td></td>
</th>
{% for event in listEvents %}
<tr>
<td>{{ event.sensor }}</td>
<td>{{ event.state }}</td>
<td>{{ event.date }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
