{% extends "templateAAlarm.html" %}

{% block title %}aAlarm - Home{% endblock %}

{% block css %}
<link href="/site_media/css/aalarmColors.css" rel="stylesheet" media="screen">
<link href="/site_media/css/aalarmMain.css" rel="stylesheet" media="screen">
{% endblock %}

{% block script %}
<script type="text/javascript">

    function updateState()
    {
        $("#idState").html("updating...");

        $.ajax({
            data: $("#idFormState").serialize(),
            type: "post",
            url: "getLastGlobalState/Global",
            success: function(data) {
                $("#idState").html(data);
            }
        });
        return false;        

    }

    function updateSensor()
    {
        $("#idSensor").html("updating...");

        $.ajax({
            data: $("#idFormState").serialize(),
            type: "post",
            url: "getLastSensorState/Door1",
            success: function(data) {
                $("#idSensor").html(data);
            }
        });
        return false;        

    }

    function updateLastEvents()
    {
        $("#idLastEvents").html("updating...");

        $.ajax({
            data: $("#idFormState").serialize(),
            type: "post",
            url: "getLastEvents/5",
            success: function(data) {
                $("#idLastEvents").html(data);
            }
        });
        return false;        

    }

    $(document).ready(function(){
        $(".aalarmStateBtn").click(function(data){
            //this fix bootstrap bug (dropdown not closing)
            $('[data-toggle="dropdown"]').parent().removeClass('open');
            var idButton = $(this).attr('id');
            $.ajax({
                data: $("#idFormCommand").serialize(),
                type: "post",
                url: "command/" + idButton,
                success: function(data) {
                    if(data == "ko")
                    {
                        alert("State cannot be change now");
                    }
                }
            });
            return false;
        });

        updateLastEvents();
        updateState();
        updateSensor();

	});
</script>
{% endblock %}

{% block mainContentTitle %}Home{% endblock %}

{% block mainContent %}

<form name="formCommand" id="idFormCommand">
    {% csrf_token %}
</form>

<form name="formState" id="idFormState">
    {% csrf_token %}
</form>

<div class="row">
    <div class="span12">
    <h2>Main monitor</h2>
    </div>
</div>

<div class="row">
    <div class="span6 columnCentered">
        <p id="idState"></p>
    </div>

    <div class="span2">
        <button type="button" class="btn">Set Online</button>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Actions
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for command in listCommands %}
                <li><a href="#" id="{{ command.command }}" class="aalarmStateBtn">{{ command.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="span2">
        <button type="button" class="btn">Refresh</button>
    </div>

</div>

<div class="row">
    <div class="span12">
    <h2>Sensors</h2>
    </div>
</div>

<div class="row">
    <div class="span4 columnCentered">
        <p id="idSensor"></p>
    </div>
    <div class="span4 columnCentered">
        <span class="label labelState {{ lastEvent.state.css }}">Sound Off</span>
    </div>
    <div class="span4 columnCentered">
        <span class="label labelState {{ lastEvent.state.css }}">ZoneMinder Running</span>
    </div>
</div>

<div class="row">
    <div class="span12">
    <h2>Recent events</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="idLastEvents"></div>
    </div>
</div>

{% endblock %}
