{% extends "templateAAlarm.html" %}

{% block title %}aAlarm - Home{% endblock %}

{% block css %}
<link href="/site_media/css/aalarmColors.css" rel="stylesheet" media="screen">
<link href="/site_media/css/aalarmMain.css" rel="stylesheet" media="screen">
{% endblock %}

{% block script %}
<script type="text/javascript">

    function updateState()
    {
        $("#idState").html("updating...");

        $.ajax({
            data: $("#idFormState").serialize(),
            type: "post",
            url: "getLastState/Global",
            success: function(data) {
                $("#idState").html(data);
            }
        });
        return false;        

    }

    $(document).ready(function(){
        $(".aalarmStateBtn").click(function(data){
            var idButton = $(this).attr('id');
            $.ajax({
                data: $("#idFormCommand").serialize(),
                type: "post",
                url: "command/" + idButton,
                success: function(data) {
                    if(data == "ko")
                    {
                        alert("State cannot be change now");
                    }
                }
            });
            return false;
        });

        updateState();

	});
</script>
{% endblock %}

{% block mainContentTitle %}Home{% endblock %}

{% block mainContent %}

<form name="formCommand" id="idFormCommand">
    {% csrf_token %}
</form>

<form name="formState" id="idFormState">
    {% csrf_token %}
</form>

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
{% for command in listCommands %}
        <li><a href="#" id="{{ command.command }}" class="aalarmStateBtn">{{ command.name }}</a></li>
{% endfor %}
    </ul>
</div>


<div id="idState">
</div>

<h2>Events</h2>
<table>
<th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</th>
{% for event in listEvents %}
<tr>
<td class="{{ event.state.css }}"><div style="width:20px;"></div></td>
<td>{{ event.sensor.displayName }}</td>
<td>{{ event.state }}</td>
<td>{{ event.date|date:"d/m/Y H:m:s" }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
